

<!DOCTYPE html>
<html>
<head>
<title>Rental Property Application</title>
</head>
<body>
<h1>Rental Property Application</h1>
<form action="/submit_application" method="POST">
<label for="name">Name:</label>
<input type="text" name="name">
<br>
<label for="email">Email:</label>
<input type="email" name="email">
<br>
<label for="phone">Phone Number:</label>
<input type="tel" name="phone">
<br>
<label for="address">Address:</label>
<input type="text" name="address">
<br>
<label for="income">Income:</label>
<input type="number" name="income">
<br>
<input type="submit" value="Submit Application">
</form>
</body>
</html>

