

<!DOCTYPE html>
<html>
<head>
<title>Rental Property Search</title>
</head>
<body>
<h1>Rental Property Search</h1>
<form action="/results" method="POST">
<label for="location">Location:</label>
<input type="text" name="location">
<br>
<label for="price_min">Minimum Price:</label>
<input type="number" name="price_min">
<br>
<label for="price_max">Maximum Price:</label>
<input type="number" name="price_max">
<br>
<label for="num_beds">Number of Bedrooms:</label>
<input type="number" name="num_beds">
<br>
<label for="num_baths">Number of Bathrooms:</label>
<input type="number" name="num_baths">
<br>
<input type="submit" value="Search">
</form>
</body>
</html>


